img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: center;
  border-radius: 200px;
}
p{
  font-family: arial;
  color: gray;
  font-size: 25px;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 15px;
}
.a1{
  font-weight: bold;
  font-size: 29px;
  color: black;
}
button{
  background-color: rgb(26, 133, 239);
  color: white;
  padding: 12px 23px;
  border: none;
  border-radius: 8px;
  margin-left: 140px;
  font-weight: bold;
  font-size: 25px;
}
.a{
  display: inline-block;
  vertical-align: middle;
}
