img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: center;
  border-radius: 200px;
}
p{
  font-family: arial;
  color: gray;
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 15px;
}
.a1{
  font-weight: bold;
  font-size: 25px;
  color: black;
}
button{
  background-color: rgb(26, 133, 239);
  color: white;
  padding: 12px 23px;
  border: none;
  border-radius: 8px;
  margin-left: 100px;
  font-weight: bold;
  font-size: 25px;
}
.bolt{
  font-size: 23px;
  width: 150px;
}
.a{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 25px;
  align-items: center;
}
.contain{
  width: 300px;
}