.a{
  display: flex;
  flex-direction: row;
  width: 900px;
  justify-content: space-between;
  background-color: rgb(130, 62, 227);
  align-items: center;
}
.s{
  border-radius: 16px;
  border: none;
  height: 25px;
  padding-left: 10px;
  padding-right: 195px;
}
p{
  color: white;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}
button{
  color: white;
  background-color: rgb(130, 62, 227);
  border-color: white;
  border: none;
  border-width: 2px;
  border-style: solid;
  padding: 8px 13px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
}