p{
  font-family: arial;
}
.bold{
  font-size: 16px;
  font-weight: bold;
}
img{
  height: 70px;
  width: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 200px;
  margin-top: 15px;
}
.grey{
  color: grey; 
  margin-bottom: 5px;
}
.a{
  display: inline-block;
  vertical-align: top;
}
.b{
  display: inline-block;
  vertical-align: middle;
  
}
.c{
  display: inline-block;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 20px;
  overflow: hidden;
}
.c1{
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 105px;
  background-color:rgb(189, 188, 188);
  margin-top: 0px;
}
.c2{
  display: inline-block;
  vertical-align: middle;
  width: 220px;
}
.short{
  width: 350px;
  margin-bottom: 15px;
  margin-top: 0px;
}
.l{
  margin-bottom: 5px;
  margin-top: 0px;
}