p{
  font-family: arial;
  color: gray;
}
.a{
  width: 390px;
  height: 35px;
  border-radius: 5px;
  border-color: rgb(100, 100, 100);
  border-width: 2px;
  border-style: solid;
 
}
.b{
  background-color: rgb(46, 88, 255);
  color: white;
  border: none;
  text-align: center;
  padding-left: 155px;
  padding-right: 155px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 200px;
  font-size:13px;
  font-weight: bold;
  cursor: pointer;
}