.og{
  border-color: gray;
  border-width: 1px;
  box-shadow: 0px 0px 10px gray;
  height: 75px;
  width: 420px;
  padding-left: 12px;
  padding-top: 12px;
  border-radius: 4px;
}
.b{
  border: none;
  width: 250px;
  font-size: 18px;
  vertical-align: middle;
  margin-right: 0px;
}
.a{
  border-radius: 600px;
  width: 60px;
  height: 60px;
  object-position: center;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 8px;
}
.c{
  font-weight: bold;
  border: none;
  color: white;
  background-color: rgb(59, 125, 218);
  padding: 8px 15px;
  border-radius: 16px;
  vertical-align: middle;
  margin-right: 20px;
}