.a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  align-items: center;
}
.p{
  background-color: lightpink;
  
}