.a{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
}
.b{
  text-decoration: underline;
  text-align: center;
}
.c{
  margin-left: 530px;
  margin-top: 20px;
}