.para{
  font-weight: bold;
  font-family: arial;
  font-size: 30px;
  margin-top: 0px;
}
.pickup{
  display: block;
  padding: 10px 15px;
  width: 250px;
  border: none;
  background-color: rgb(240, 240, 240);
  margin-bottom: 8px;
}
.drop{
  display: block;
  padding: 10px 15px;
  width: 250px;
  border: none;
  background-color: rgb(240, 240, 240);
  margin-bottom: 30px;
}
.req{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-right: 15px;
}
.later{
  background-color: rgb(240, 240, 240);
  border: none;
  padding: 10px 15px;
  margin-right: 15px;
  font-weight: 200px;
}