p{
  font-family: arial;
}
.a{
  width: 370px;
  height: 125px;
  background-color: black;
  padding-left: 10px;
  padding-top: 3px;
}
.a1{
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0px;
}
.a2{
  color: gray;
  margin-top: 8px;
}